.full-page {
    height: 100vh;
    padding: 60px 0;
}

.login-item-gitee {
    --bs-border-radius: 6px;
    --login-padding-x: .75rem;
    --login-padding-y: .75rem;
    margin: 1.5rem auto;
}

    .login-item-gitee a {
        color: #005980;
    }

    .login-item-gitee .login-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 1.5rem;
    }

        .login-item-gitee .login-header > span {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .login-item-gitee .login-header > span {
            font-size: 1.5rem;
            font-weight: bold;
        }

    .login-item-gitee .login-sms {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .login-item-gitee .login-sms > a {
            padding: var(--login-padding-y) var(--login-padding-x);
            margin-bottom: 1rem;
        }

    .login-item-gitee .login-oauth {
        display: flex;
        justify-content: space-between;
    }

        .login-item-gitee .login-oauth i {
            font-size: 2rem;
            color: #485585;
        }

    .login-item-gitee ::deep .divider {
        --bb-divider-margin: 2rem 0;
    }

::deep h4 {
    margin-bottom: 1.5rem;
}

::deep .form-control {
    --bb-form-control-padding: var(--login-padding-y) var(--login-padding-x);
    font-size: .875rem;
    margin-bottom: 1rem;
}

::deep .btn {
    --bs-btn-padding-x: var(--login-padding-x);
    --bs-btn-padding-y: var(--login-padding-y);
    width: 100%;
    margin-bottom: 1rem;
}

    ::deep .btn:first-of-type {
        margin-bottom: 0;
    }

::deep .form-check {
    padding: var(--login-padding-y) var(--login-padding-x);
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .login-item-gitee {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


.float-top {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}