.bc{
    background-color: gray;
}



.dlayout {
    display: grid;
    padding: 48px;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.desktop {
    padding: 32px;
    position: relative;
    aspect-ratio: 1/1;
}
    .desktop .desk {
        width: 100%;
        padding: 32px;
    }

    .desktop .north {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .desktop .east {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
    }

    .desktop .south {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .desktop .west {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

.index {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
}

.icon {
    width: 80px;
}


.back-img {
    width:14vw;
    position: absolute;
    left: calc(50% - 7vw);
}

.line p{
    display: inline;
    width:fit-content;
    padding: 10px;
    font-size: 1.5rem;
}