@page "/"
@attribute [TabItemOption(Text = "首页", Closable = false)]

<PageTitle>首页</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>欢迎使用 WzFrame.Blazor</h1>
            <p>WzFrame.Blazor 是一个基于 Blazor 的后台管理框架，提供了丰富的组件和模板，帮助您快速搭建后台管理系统。</p>
            <p>遇到问题可以重新登陆、清理浏览器缓存</p>
            <p>开发者：Wozpren</p>
            <p>微信：wozpren</p>
            <Button Color="Color.Primary" OnClick="@ErrorTest">测试异常</Button>
        </div>
    </div>
</div>

@code{


    public void ErrorTest()
    {
        throw new Exception("测试异常");
    }
}