@page "/system/users"
@using Microsoft.AspNetCore.Identity
@using SqlSugar
@using WzFrame.Shared.Repository

@inherits TabPageBase
@inject UserService UserService;
@attribute [MenuPageOption(102, "用户管理", ParentId = 100, Icon = "fas fa-users-line", Permission = "admin")]


<TablePageBase TItem="ApplicationUser" QueryAsync="UserService.OnQueryAsync"  DeleteAsync="UserService.OnDeleteAsync" SaveAsync="UserService.OnSaveAsync">
    <RowButtonTemplate>
        <TableCellButton Icon="fa-fw fa-solid fa-pen-to-square" Text="角色" OnClick="() => UserService.SetRole(context)" Color="Color.Primary" />
    </RowButtonTemplate>
</TablePageBase>
<Modal>
    <HeadContent>
        <h5>设置角色</h5>
    </HeadContent>
</Modal>